<div class="main-parent">
  <div class="parent">
    <div class="top-child">
      <div class="bg bg-left"></div>
      <div class="bg bg-right"></div>
    </div>
    <div class="content" *ngIf="product">
      <h1>{{product[0]?.heading}}</h1>

      <div class="col-1-of-2">
        <div class="slide">
          <p-galleria [images]="images" panelWidth="300" panelHeight="300" [showCaption]="true" [autoPlay]="true">
          </p-galleria>
        </div>
        <div class="details">
          <h4>{{product[0]?.secondaryHeading}}</h4>
          <p class="card" *ngFor="let paragraph of product[0]?.paragraphs">
            {{paragraph}}
          </p>

        </div>
      </div>
      <!-- <div class="data">

        <img src="{{product[0]?.data}}" alt="">
        <div class="file" *ngIf="product[0]?.file">
          <h3>
            To learn more details,please download our product catalogue as below.
          </h3>
          <a href="{{product[0]?.file}}" target="_bank">Product catalog.pdf</a>
        </div>
      </div> -->
      <div class="table">
        <table id="customers">
          <tr>
            <th *ngFor="let h of product[0]?.data.headings">{{h}}</th>
          </tr>
          <ng-container *ngFor="let data of product[0]?.data.rows">
            <tr *ngIf="data.length >= 5">
              <td *ngFor="let dt of data">
                <p *ngFor="let p of dt">
                  {{p}}
                </p>
              </td>
            </tr>
            <tr *ngIf="data.length==2">
              <td colspan="3" *ngFor="let dt of data">
                <p *ngFor="let p of dt">
                  {{p}}
                </p>
              </td>
            </tr>
          </ng-container>

        </table>
        <div class="file" *ngIf="product[0]?.file">
            <h3>
              To learn more details,please download our product catalogue as below.
            </h3>
            <a href="{{product[0]?.file}}" target="_bank">Product catalog.pdf</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="box">
    <h1>Follow Us</h1>
    <ul>
      <li>
        <a href="https://www.facebook.com/titanemporium/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/the_titan_emporiump/" target="_blank">Instagram</a>
      </li>
      <!-- <li>
            <a href="">Twitter</a>
          </li> -->
    </ul>
  </div>

  <div class="box">
    <h1>Sales Address</h1>
    <p>
      Village industrial park <br>
      Unit A6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>
  <div class="box">
    <h1>Workshop Address</h1>
    <p>
      Village industrial park <br>
      Unit C6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>

  <div class="box">
    <h1>Contact Us</h1>
    <p>
      Phone: 011 338 6008 <br />
      Email : info@titanemporium.co.za <br />
    </p>
  </div>
</div>