<div class="container">
    <div class="close" (click)="hidePopup()">
        <span>X</span>
    </div>
    <h1>SUSTAINABILITY</h1>
    <ul class="drop-down-items">
        <li><a (click)="hide()"  routerLink="sustainability-intro">The Titan Emporium and Sustainability </a></li>
        <li><a (click)="hide()"  routerLink="our-people">our people </a></li>
        <li><a (click)="hide()"  routerLink="society">society </a></li>
        <li><a (click)="hide()"  routerLink="transformation">transformation </a></li>
        <li><a (click)="hide()"  routerLink="safety">safety </a></li>
        <li><a (click)="hide()"  routerLink="environmental">environmental </a></li>
        <li><a (click)="hide()"  routerLink="policies-and-disclosures">policies and disclosures </a></li>
        <li><a (click)="hide()"  routerLink="risk-management">risk management </a></li>
        <li><a (click)="hide()"  routerLink="governance">governance </a></li>
</ul>
  </div>