<div class="menu-button-section">
  <img id="menu-btn" *ngIf="!showMobleMenu" (click)="toggleMenu()" src="assets/home-images/Menu lines.svg"
    alt="" />
  <img id="menu-btn" *ngIf="showMobleMenu" (click)="toggleMenu()" style="width:10%" src="assets/home-images/Close2.svg"
    alt="" />

<div class="mobile-menu" *ngIf="showMobleMenu" >
    <div class="back" (click)="toggleMenu()">
        <h1 >
            <i class="pi pi-arrow-left"></i> Back
        </h1>
      </div>
  <h1>
      the titan emporium  </h1>
    <ul>
        <li *ngFor="let menu of navigation" class="dropdown">
          <a *ngIf="!menu.isMega"  (click)="toggleMenu()" [routerLink]="menu.url">{{menu.name}}</a>
          <a *ngIf="menu.isMega"  (click)="toggleMenu()" (mouseenter)="showMegaMenuHover(menu.name)" class="megamenu-tab"
            [routerLink]="menu.url">{{menu.name}}</a>
        </li>
      </ul>
  </div>

</div>



<div class="main">
  <div class="nav">
    <ul>
      <li *ngFor="let menu of navigation" class="dropdown">
        <a *ngIf="!menu.isMega" [routerLink]="menu.url">{{menu.name}}</a>
        <a *ngIf="menu.isMega" (mouseenter)="showMegaMenuHover(menu.name)" class="megamenu-tab"
          [routerLink]="menu.url">{{menu.name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="megamenu" (mouseleave)="toggleMegaMenu()" *ngIf="showMegamenu">
  <div class="back" (click)="toggleMegaMenu()">
    <h1 >
        <i class="pi pi-arrow-left"></i> Back
    </h1>
  </div>
  <div class="search">
    <!-- <input type="text"  [(ngModel)]="search"> -->
  </div>
  <div class="cards">
    <div class="card" *ngFor="let menuitem of products">
      <h1>
        {{ menuitem.heading}} 
      </h1>
      <div class="items" *ngFor="let item of menuitem.items">
        <p>
          <a [routerLink]="item.url" (click)="toggleMegaMenu()"> {{item.name}}</a>
        </p>
      </div>
      <div class="subs" *ngFor="let sub of menuitem.subs">
        <h2>
          {{sub.heading}}
        </h2>
        <div class="subs" *ngFor="let subitmem of sub.items">
          <p>
            <a [routerLink]="subitmem.url" (click)="toggleMegaMenu()"> {{subitmem.name}}</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>




<div class="megamenu megamenu-small" (mouseleave)="toggleMegaMenu()" *ngIf="showAboutMegamenu">
    <div class="back" (click)="toggleMegaMenu()">
        <h1 >
            <i class="pi pi-arrow-left"></i> Back
        </h1>
      </div>
    <div class="cards single">
      <div class="card card-small" *ngFor="let item of navigation[2].children">
          <p>
              <a [routerLink]="item.url"> {{item.name}}</a>
            </p>
      </div>
    </div>
  </div>

<div class="megamenu megamenu-small megamenu-services" (mouseleave)="toggleMegaMenu()" *ngIf="showServicesMegamenu">
    <div class="back" (click)="toggleMegaMenu()">
        <h1 >
            <i class="pi pi-arrow-left"></i> Back
        </h1>
      </div>
    <div class="cards single">
      <div class="card card-small" *ngFor="let item of navigation[3].children">
          <p>
              <a [routerLink]="item.url"> {{item.name}}</a>
            </p>
      </div>
    </div>
  </div>

<div class="megamenu megamenu-small megamenu-industries" (mouseleave)="toggleMegaMenu()" *ngIf="showIndustriesMegamenu">
    <div class="back" (click)="toggleMegaMenu()">
        <h1 >
            <i class="pi pi-arrow-left"></i> Back
        </h1>
      </div>
    <div class="cards single">
      <div class="card card-small"  *ngFor="let item of navigation[4].children">
          <p>
              <a [routerLink]="item.url"> {{item.name}}</a>
            </p>
      </div>
    </div>
  </div>

<div class="megamenu megamenu-small megamenu-sustainability" (mouseleave)="toggleMegaMenu()" *ngIf="showSustainabilityMegamenu">
    <div class="back" (click)="toggleMegaMenu()">
        <h1 >
            <i class="pi pi-arrow-left"></i> Back
        </h1>
      </div>
    <div class="cards single">
      <div class="card card-small"  *ngFor="let item of navigation[5].children">
          <p>
              <a [routerLink]="item.url"> {{item.name}}</a>
            </p>
      </div>
    </div>
  </div>
