<div class="main">
  <div class="nav">
    <ul>
      <li *ngFor="let menu of navigation"  class="dropdown">
        <a [routerLink]="menu.url">{{menu.name}}</a>
        <ul *ngIf="menu.children.length"  class="drop-down-items child-1">
          <li *ngFor="let child_one of menu.children"  class="child-2-parent">
            <a [routerLink]="child_one.url" class="show-chid-2">{{child_one.name}}</a>
            <ul *ngIf="child_one.children.length"  class="drop-down-items child-2">
              <li *ngFor="let child_two of child_one.children"  class="child-3-parent">
                <a [routerLink]="child_two.url">{{child_two.name}}</a>
                <ul *ngIf="child_two.children.length" class="drop-down-items  child-3">
                  <li *ngFor="let child_three of child_two.children">
                    <a [routerLink]="child_three.url">{{child_three.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!-- 
<div class="menu-button-section">
  <img id="menu-btn" *ngIf="!showMobleMenu" (click)="toggleMenu()" src="assets/home-images/Menu lines.svg"
    alt="" />
  <img id="menu-btn" *ngIf="showMobleMenu" (click)="toggleMenu()" style="width:60%" src="assets/home-images/Close2.svg"
    alt="" />
</div> -->
