<!-- <div class="main-parent" style="background-image: url(../../../assets/pages-images/bg);"> -->
<div class="main-parent">
  <div class="parent">
    <div class="top-child">
      <div class="bg bg-left"></div>
      <div class="bg bg-right"></div>
    </div>
    <div class="content">
      <h1>
        Talk to Us...
      </h1>

      <div class="paragraph">
<p>
  Address
</p>
      </div>

      <div class="image">
        <img src="../../../assets/pages-images/call.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="box">
    <h1>Follow Us</h1>
    <ul>
      <li>
        <a href="">Facebook</a>
      </li>
      <li>
        <a href="">Instagram</a>
      </li>
      <li>
        <a href="">Twitter</a>
      </li>
    </ul>
  </div>

  <div class="box">
    <h1>Address</h1>
    <p>
      Village industrial park <br>
      Unit a6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>

  <div class="box">
    <h1>Contact Us</h1>
    <p>
      Phone: 011 338 6008 <br>
      Email : info@titanemporium.com <br>

    </p>
  </div>

</div>
