.main-parent {
  background: #000;
  position: relative;

  .parent {
    background: #191717;
    padding: 2%;
    color: white;
    border-top: 150px solid black;
    height: 100vh;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 18%, 84% 55%, 66% 80%, 49% 94%, 27% 100%, 0 100%, 0 43%, 0 0);
    clip-path: polygon(100% 0, 100% 0, 100% 18%, 84% 55%, 66% 80%, 49% 94%, 27% 100%, 0 100%, 0 43%, 0 0);

    ul ,
    h1 {
      position: absolute;
      width: 50%;

    }

    h1 {
      left: 20px;
      top: 200px;
      text-transform: uppercase;
    }

    ul  {
      top: 300px;
      font-size: 25px;
      animation: slideFromLeft 1s ease-out;

      li{
        padding: 1%;
      }

    }

  }

  img {
    position: absolute;
    width: 40%;
    right: 151px;
    bottom: 60px;
    animation: slideFromTop 1s ease-out 1s;
    animation-fill-mode: backwards;

  }
}
