<div class="container">
    <div class="close">
      <span>X</span>
    </div>
    <h1>Our Services</h1>
    <ul class="drop-down-items">
        <li><a (click)="hide()" routerLink="air-compressor-hire">Air Compressor Hire</a></li>
        <li><a (click)="hide()" routerLink="compressor-repair-and-service">Air Compressor Repair & Service</a></li>
        <li><a (click)="hide()" routerLink="asset-leasing">Asset Leasing</a></li>
        <li><a (click)="hide()" routerLink="compressed-air-pipework">Compressed Air Pipework</a></li>
        <li><a (click)="hide()" routerLink="service-agreements">Service Agreements</a></li>
        <li><a (click)="hide()" routerLink="supply-and-installation">Supply & Installation</a></li>
        <li><a (click)="hide()" routerLink="directional-drilling">Directional Drilling</a></li>
        <li><a (click)="hide()" routerLink="pipe-jacking">Pipe Jacking</a></li>
      </ul>
  </div>