.main-container {
  // height: 40vh;
  background-image: url(../../assets/home-images/mobilecirclebgblack.svg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;

  @media only screen and (min-width: 500px) {
    height: 50vh;
  }

  @media only screen and (min-width: 609px) {
    height: 65vh;
  }

  @media only screen and (min-width: 800px) {
    // height: 100vh;
    // background-image: url(../../assets/home-images/bglong.svg);
    background-image: url(../../assets/home-images/bg5.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  .header-section {


    .heading-section {
      padding: 1%;
      position: relative;
      height: 26vh;

      .heading {
        color: #fff;
        position: absolute;
        top: 10%;
        left: 10%;
        width: 40%;
        font-size: 10px;
        animation: slideFromLeft 1s ease-out 1s;
        animation-fill-mode: backwards;


        @media only screen and (min-width: 800px) {
          font-size: 25px;
          font-weight: bolder;

        }

      }

      .cta {
        position: absolute;
        top: 80%;
        left: 10%;
        width: 40%;
        display: none;

        @media only screen and (min-width: 800px) {
          display: inline;
        }


        a {
          text-decoration: none;
          text-align: center;
          border: 3px solid #A06A4B;
          padding: 2% 10%;
          color: #A06A4B;
          margin: 10px;
          text-transform: uppercase;
          animation: slideFromLeft 1s ease-out 2s;
          animation-fill-mode: backwards;
        }
      }

      .image-slider-small {
        width: 14% !important;
        position: absolute;
        right: 25%;
        bottom: -50px;
        display: none;
        animation: slideFromLeft 1s ease-out 2s;
        animation-fill-mode: backwards;

        @media only screen and (min-width: 800px) {
          width: 25%;
          display: inline;
        }

      }

      .image-slider {
        width: 54%;
        position: absolute;
        right: 5%;
        top: 50px;
        animation: slideFromTop 1s ease-out;

        @media only screen and (min-width: 800px) {
          width: 20%;


        }

      }
    }
  }

  .body-section {
    padding: 10%;
    color: #A06A4B;
    font-weight: bold;
    text-align: center;
    margin-top: 18%;

    p {
      font-size: 22px;
    }

    a {
      text-decoration: none;
      text-align: center;
      border: 3px solid #A06A4B;
      padding: 2% 10%;
      color: #A06A4B;
      margin: 10px;
      text-transform: uppercase;
      animation: slideFromLeft 1s ease-out 2s;
      animation-fill-mode: backwards;


    }
  }

  .mobile-footer {
    -webkit-clip-path: polygon(34% 6%, 100% 44%, 100% 100%, 0 100%, 0 38%);
    clip-path: polygon(34% 6%, 100% 44%, 100% 100%, 0 100%, 0 38%);
    background: #000;
    color: #A06A4B;
    width: 100%;
    height: 20vh;
    position: fixed;
    bottom: 0;

    @media only screen and (min-width: 800px) {
      display: none;
    }

    h1 {
      position: absolute;
      left: 20px;
      top: 65px;
      font-weight: 100;
    }

    a {
      text-decoration: none;
      text-align: center;
      border: 3px solid #A06A4B;
      padding: 1% 6%;
      color: #A06A4B;
      margin: 10px;
      text-transform: uppercase;
      position: absolute;
      right: 83px;
      top: 80px;
    }
  }
}


// Key Frames
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anumationFaceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
