<div class="main-container">
  <div class="header-section">
   

    <div class="heading-section">
      <div class="heading">
        <h1>
          The compressor solutions <br>re-imagined
        </h1>

      </div>
      <div class="cta">
        <a href="#">About us</a>
        <a href="#">Contact Us</a>

      </div>
      <div class="image-slider-small">
        <img src="../../assets/home-images/Rock_Drill.png" alt="" class="slide-image">
      </div>
      <div class="image-slider">
        <img src="../../assets/home-images/slide1.png" alt="" class="slide-image">
      </div>
    </div>

  </div>

  <div class="body-section">
    <p>
      The Titan Emporium is a distributor of leading global brands with head offices in Johannesburg (South Africa)
    </p>
    <a href="#" class="cta">Read more</a>
  </div>

  <div class="mobile-footer">
    <h1>Our strategy</h1>
    <a href="#">more</a>

  </div>

</div>
