.main-parent {

  position: relative;
  background: #fff;

  .parent {

    width: 100%;
    background: none;
    position: relative;

    .top-child {
      background: none;
      height: 22vh;
      width: 100%;
      position: relative;

      @media only screen and (max-width: 500px) {
        height: 35vh;

      }

      .bg {
        height: 100%;
        position: absolute;
        top: 0;


      }

      .bg-left {
        background: #000;
        left: 0;
        width: 100%;
        -webkit-clip-path: polygon(44% 0, 100% 0, 100% 52%, 14% 100%, 0 68%, 0 0);
        clip-path: polygon(44% 0, 100% 0, 100% 52%, 14% 100%, 0 68%, 0 0);
        z-index: 1;

        @media only screen and (max-width: 500px) {
          -webkit-clip-path: circle(80.7% at 50% 0);
          clip-path: circle(80.7% at 50% 0);
        }
      }

      .bg-right {
        background: #171D23;
        right: 0;
        width: 100%;
        -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 52%, 49% 80%, 24% 0, 42% 0);
        clip-path: polygon(50% 0%, 100% 0, 100% 52%, 49% 80%, 24% 0, 42% 0);
        z-index: 2;

        @media only screen and (max-width: 500px) {
          display: none;
        }

      }
    }


    .content {
      padding: 5em;
      padding-left: 10%;
      margin-bottom: 2%;
      display: block;
      width: 100%;
      min-height: 55vh;
      overflow: hidden;

      @media only screen and (max-width: 500px) {
        padding: 2em;

      }


      h1 {
        text-align: center;
      }

      .details-container {
        width: 100%;
        // padding: 3%;
        .details {
          padding: 3%;

          h3 {
            padding: 1% 0;
          }
        }
      }
.image{
  h1{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }
  img{
    width: 30%;
  }
  text-align: center;
}
      .table {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;

        table {
          width: 100%;

          th {
            // text-align: center;
          }
        }

        .table-abbrevations {
          padding: 1rem;
          background: rgb(228, 228, 228);
          color: black;
        }
      }


    }
  }
}

.footer {
  background: #212121;
  color: #ffffff;
  width: 100%;
  padding-left: 15%;
  overflow: hidden;

  @media only screen and (max-width: 500px) {
    padding: 0;

  }

  .box {
    width: 22%;
    padding: 1%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;

    @media only screen and (max-width: 500px) {
      border-bottom: 1px solid #fff;
    }

    ul {
      list-style: none;
    }

    h1 {
      font-weight: 100;
      font-size: 1.5em;

    }

    p,
    a {
      font-size: .9em;

    }

    @media only screen and (max-width: 500px) {
      width: 100%;
      padding: 3%;
      margin: 0;
      // &:nth-child(2){
      //   background: rgba(6, 7, 9, 0.925);

      // }

    }

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}
