.main-container {
  // height:100vh;
  -webkit-box-shadow: 18px 14px 100px 25px rgba(189,189,189,0.73);
-moz-box-shadow: 18px 14px 100px 25px rgba(189,189,189,0.73);
box-shadow: 18px 14px 100px 25px rgba(189,189,189,0.73);

  position: relative;

  .top-bar {
    position: absolute;
    top:0;
    padding: 1%;
    width: 100%;
    z-index: 100;

    .logo-section {
      position: absolute;
      left: 0;
      top: 0;

      img {
        width: 67%;
        height: 112px;

        @media only screen and (min-width: 800px) {
          // width: 85%;
          // height: 126px;

          width: 55%;
          height: 84px;
        }
      }
    }

    .menu-button-section {
      width: 10%;
      position: absolute;
      right: 5%;
      top: 30px;
      animation: anumationFaceIn 1s ease-out 2s;
      animation-fill-mode: backwards;

      @media only screen and (min-width: 800px) {
       display: none;
      }
    }
    .pc-nav{
       display: none;
      position: absolute;
      // background: #c36a6a;
      width: 60%;
      right: 0;
      top: 18px;
      text-align: right;
      padding-right: 2%;

      @media only screen and (min-width: 800px) {
        display: inline-block;
       }
    }
  }
  .footer{
    background: #171D23;
    color: #ffffff;
    width: 100%;
    padding-left: 15%;
    overflow: hidden;
    .box{
      width: 30%;
      padding: 1%;
      float: left;
      text-align: left;
  
      a{
        text-decoration: none;
        color: #ffffff;
      }
    }
    }
}

@media only screen and (min-width: 800px) {
  .main-container {
    background: none;
  }
}
