<div class="container">
  <div class="close" (click)="hidePopup()">
    <span><i class="fa fa-times-circle"></i></span>
  </div>
  <h1>About Titan</h1>
  <ul class="drop-down-items">
      <li><a (click)="hide()" routerLink="at-a-glance"> The Titan Emporium At a Glance</a></li>
      <li><a (click)="hide()" routerLink="our-vision">Our Vision</a></li>
      <li><a (click)="hide()" routerLink="our-values">Our Values</a></li>
      <li><a (click)="hide()" routerLink="our-approach">Our Approach</a></li>
      <li><a (click)="hide()" routerLink="our-strategy">Our strategy</a></li>
    </ul>
</div>