<div class="nav-container" id="nav-mob">
  <nav>
    <div id="dp">
      <img src="../../../assets/home-images/logo4.png" alt="">
    </div>
    <ul class="">
      <li>
        <a routerLink="/" (click)="hide()">Home</a>
      </li>
      <li class="dropdown">
        <a class="main-link" (click)="changeShowAbout()"> About Us </a>
      </li>
      <li class="dropdown">
        <a class="main-link" (click)="changeShowServices()">Services</a>
      </li>

      <li class="dropdown">
        <a class="main-link" (click)="changeShowIndustries()">Industries</a>
      </li>

      <li class="dropdown">
        <a class="main-link" (click)="changeShowSustainability()">
          Sustainability
        </a>
      </li>

      <li>
        <a routerLink="contact-us" (click)="hide()">Contact </a>
      </li>

    </ul>
  </nav>

  <div class="popup" *ngIf="showPopup">
    <app-about-us-mobile-items *ngIf="showAbout" (closePopup)="closePop($event)" (closeNav)="close($event)"></app-about-us-mobile-items>
    <app-service-ul-mobile-items *ngIf="showServices" (closePopup)="closePop($event)" (closeNav)="close($event)"></app-service-ul-mobile-items>
    <app-industries-ul-mobile-items *ngIf="showIndustries" (closePopup)="closePop($event)" (closeNav)="close($event)"></app-industries-ul-mobile-items>
    <app-sustainability-service-ul-mobile-items *ngIf="showSustainability" (closePopup)="closePop($event)" (closeNav)="close($event)"></app-sustainability-service-ul-mobile-items>
  </div>
</div>
