<div class="nav-container" id="nav-mob">
  <nav>
    <div id="dp">
      <img src="../../../assets/home-images/logo4.png" alt="">
    </div>
    <ul class="">
      <li>
        <a routerLink="/" (click)="hide()">Home</a>
      </li>
      <li>
        <a class="main-link">
          <u>
            About me
          </u>
        </a>
        <ul class="drop-down-items">
          <li><a (click)="hide()" routerLink="at-a-glance"> The Titan Emporium At a Glance</a></li>
          <li><a (click)="hide()" routerLink="our-vision">Our Vision</a></li>
          <li><a (click)="hide()" routerLink="our-values">Our Values</a></li>
          <li><a (click)="hide()" routerLink="our-approach">Our Approach</a></li>
          <li><a (click)="hide()" routerLink="our-strategy">Our strategy</a></li>
        </ul>
      </li>
      <li>
        <a class="main-link">
          <u>
            Services
          </u>
        </a>
        <ul class="drop-down-items">
          <li><a (click)="hide()" routerLink="air-compressor-hire">Air Compressor Hire</a></li>
          <li><a (click)="hide()" routerLink="compressor-repair-and-service">Air Compressor Repair & Service</a></li>
          <li><a (click)="hide()" routerLink="asset-leasing">Asset Leasing</a></li>
          <li><a (click)="hide()" routerLink="compressed-air-pipework">Compressed Air Pipework</a></li>
          <li><a (click)="hide()" routerLink="service-agreements">Service Agreements</a></li>
          <li><a (click)="hide()" routerLink="supply-and-installation">Supply & Installation</a></li>
          <li><a (click)="hide()" routerLink="directional-drilling">Directional Drilling</a></li>
          <li><a (click)="hide()" routerLink="pipe-jacking">Pipe Jacking</a></li>
        </ul>
      </li>
      <li>
            <a class="main-link">
              <u>
                    Industries
              </u>
            </a>
            <ul class="drop-down-items">
                    <li><a (click)="hide()"  routerLink="agriculture-farming">Agriculture & Farming </a></li>
                    <li><a (click)="hide()"  routerLink="automotive">automotive </a></li>
                    <li><a (click)="hide()"  routerLink="chemical">chemical </a></li>
                    <li><a (click)="hide()"  routerLink="craft-breweries">craft breweries </a></li>
                    <li><a (click)="hide()"  routerLink="defence">defence </a></li>
                    <li><a (click)="hide()"  routerLink="food-beverage">food & beverage </a></li>
                    <li><a (click)="hide()"  routerLink="industrial">industrial </a></li>
                    <li><a (click)="hide()"  routerLink="marine">marine </a></li>
                    <!-- <li><a (click)="hide()"  routerLink="medical-pharmaceutical-and-dental">medical pharmaceutical and dental </a></li> -->
                    <li><a (click)="hide()"  routerLink="mining">mining </a></li>
                    <li><a (click)="hide()"  routerLink="natural-gas">natural gas </a></li>
                    <li><a (click)="hide()"  routerLink="oil-and-gas">oil and gas </a></li>
                    <li><a (click)="hide()"  routerLink="petrochemical">petrochemical </a></li>
                    <li><a (click)="hide()"  routerLink="plastic">plastic </a></li>
                    <li><a (click)="hide()"  routerLink="power">power </a></li>
                    <!-- <li><a (click)="hide()"  routerLink="rail">rail </a></li> -->
                    <!-- <li><a (click)="hide()"  routerLink="security-and-fire">security & fire</a></li>
                    <li><a (click)="hide()"  routerLink="water">water </a></li> -->
                    <li><a (click)="hide()"  routerLink="woodworking">woodworking </a></li>
            </ul>
          </li>
          <li>
                <a class="main-link">
                  <u>
                        Sustainability
                  </u>
                </a>
                <ul class="drop-down-items">
                        <li><a (click)="hide()"  routerLink="sustainability-intro">The Titan Emporium and Sustainability </a></li>
                        <li><a (click)="hide()"  routerLink="our-people">our people </a></li>
                        <li><a (click)="hide()"  routerLink="society">society </a></li>
                        <li><a (click)="hide()"  routerLink="transformation">transformation </a></li>
                        <li><a (click)="hide()"  routerLink="safety">safety </a></li>
                        <li><a (click)="hide()"  routerLink="environmental">environmental </a></li>
                        <li><a (click)="hide()"  routerLink="policies-and-disclosures">policies and disclosures </a></li>
                        <li><a (click)="hide()"  routerLink="risk-management">risk management </a></li>
                        <li><a (click)="hide()"  routerLink="governance">governance </a></li>
                </ul>
              </li>
      <li>
        <a routerLink="contact-us" (click)="hide()">Contact </a>
      </li>
    </ul>
  </nav>
</div>
