<ul>
  <li> <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home </a></li>


  <li class="dropdown">
    <a routerLinkActive="active">Products </a>


    <ul class="drop-down-items child-1">

      <li class="child-2-parent">
        <a routerLinkActive="active" routerLink="at-a-glance" class="show-chid-2">AIR COMPRESSORS PUMPS</a>
        <ul class="drop-down-items child-2">
          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="at-a-glance">NUAIR & ABAC</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="product/shamal-nuair">NuAir & Abac</a></li>

            </ul>
          </li>
          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="our-values">INGESOLLRAND REPACMENT PUMP</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="product/solidair_castiron_14BAR_pump"> CAST IRON TO 14 BAR</a></li>
              <li><a routerLinkActive="active" routerLink="product/solidair_castiron_highpressure_pump">CAST IRON HIGH
                  PRESSURE</a></li>
              <li><a routerLinkActive="active" routerLink="product/solidair_castiron_vacuumpump">CAST IRON SINGLE STAGE</a></li>
            </ul>
          </li>

          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="our-approach">Fini Pumps</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="product/fini-belt-driven-compressor-pumps">FINI BELT DRIVEN
                  COMPRESSOR PUMPS</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="child-2-parent">
        <a routerLinkActive="active" routerLink="at-a-glance" class="show-chid-2">Valves</a>
        <ul class="drop-down-items child-2">
          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="at-a-glance">Safety Valves</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="valve/seat-safety-valves">SOFT SEAT SAFETY VALVES</a></li>

            </ul>
          </li>
          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="our-values">Check Valves</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="valve/tank-check-valves"> In Tank Check Valves</a></li>
              <li><a routerLinkActive="active" routerLink="valve/line-check-valves">In Line Check Valves</a></li>
              <li><a routerLinkActive="active" routerLink="product/horizontal-line-check-valves">Horizontal In Line Check Valves</a></li>
            </ul>
          </li>

          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="our-approach">Throttle Controls</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="valve/fini-belt-driven-compressor-pumps">Cable Style Throttle Controls</a></li>
              <li><a routerLinkActive="active" routerLink="valve/fini-belt-driven-compressor-pumps">Airline Style Throttle Controls</a></li>
            </ul>
          </li>
          <li class="child-3-parent">
            <a routerLinkActive="active" routerLink="our-approach">Unloader Pilots</a>
            <ul class="drop-down-items  child-3">
              <li><a routerLinkActive="active" routerLink="valve/fini-belt-driven-compressor-pumps">RC Series Pilot Valves</a></li>
              <li><a routerLinkActive="active" routerLink="valve/fini-belt-driven-compressor-pumps">RCL Series Pilot Valves</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>


  </li>




  <li class="dropdown">
    <a routerLinkActive="active">About us </a>
    <ul class="drop-down-items  child-1">
      <li><a routerLinkActive="active" routerLink="at-a-glance"> The Titan Emporium At a Glance</a></li>
      <!-- <li><a routerLinkActive="active"  routerLink="our-vision">Our Vision</a></li> -->
      <li><a routerLinkActive="active" routerLink="our-values">Our Values</a></li>
      <li><a routerLinkActive="active" routerLink="our-approach">Our Approach</a></li>
      <li><a routerLinkActive="active" routerLink="our-strategy">Our strategy</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a>Services </a>
    <ul class="drop-down-items  child-1">
      <li><a routerLinkActive="active" routerLink="air-compressor-hire">Air Compressor Hire</a></li>
      <li><a routerLinkActive="active" routerLink="compressor-repair-and-service">Air Compressor Repair & Service</a></li>
      <li><a routerLinkActive="active" routerLink="asset-leasing">Asset Leasing</a></li>
      <li><a routerLinkActive="active" routerLink="compressed-air-pipework">Compressed Air Pipework</a></li>
      <li><a routerLinkActive="active" routerLink="service-agreements">Service Agreements</a></li>
      <li><a routerLinkActive="active" routerLink="supply-and-installation">Supply & Installation</a></li>
      <li><a routerLinkActive="active" routerLink="directional-drilling">Directional Drilling</a></li>
      <li><a routerLinkActive="active" routerLink="pipe-jacking">Pipe Jacking</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a>Industries </a>
    <ul class="drop-down-items  child-1">
      <li><a routerLinkActive="active" routerLink="agriculture-farming">Agriculture & Farming </a></li>
      <li><a routerlinkactive="active" routerLink="automotive">automotive </a></li>
      <li><a routerlinkactive="active" routerLink="chemical">chemical </a></li>
      <li><a routerlinkactive="active" routerLink="craft-breweries">craft breweries </a></li>
      <li><a routerlinkactive="active" routerLink="defence">defence </a></li>
      <li><a routerlinkactive="active" routerLink="food-beverage">food & beverage </a></li>
      <li><a routerlinkactive="active" routerLink="industrial">industrial </a></li>
      <li><a routerlinkactive="active" routerLink="marine">marine </a></li>
      <li><a routerlinkactive="active" routerLink="air-compressors-for-the-pharmaceutical-industry">Pharmaceutical
          Industry </a></li>
      <!-- <li><a routerlinkactive="active"  routerLink="medical-pharmaceutical-and-dental">medical pharmaceutical and dental </a></li> -->
      <li><a routerlinkactive="active" routerLink="mining">mining </a></li>
      <li><a routerlinkactive="active" routerLink="natural-gas">natural gas </a></li>
      <li><a routerlinkactive="active" routerLink="oil-and-gas">oil and gas </a></li>
      <li><a routerlinkactive="active" routerLink="petrochemical">petrochemical </a></li>
      <li><a routerlinkactive="active" routerLink="plastic">plastic </a></li>
      <li><a routerlinkactive="active" routerLink="power">power </a></li>
      <!-- <li><a routerlinkactive="active"  routerLink="rail">rail </a></li> -->
      <!-- <li><a routerlinkactive="active"  routerLink="security-and-fire">security & fire</a></li>
        <li><a routerlinkactive="active"  routerLink="water">water </a></li> -->
      <li><a routerlinkactive="active" routerLink="woodworking">woodworking </a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a>Sustainability </a>
    <ul class="drop-down-items  child-1">
      <li><a routerLinkActive="active" routerLink="sustainability-intro">The Titan Emporium and Sustainability </a></li>
      <li><a routerlinkactive="active" routerLink="our-people">our people </a></li>
      <li><a routerlinkactive="active" routerLink="society">society </a></li>
      <li><a routerlinkactive="active" routerLink="transformation">transformation </a></li>
      <li><a routerlinkactive="active" routerLink="safety">safety </a></li>
      <li><a routerlinkactive="active" routerLink="environmental">environmental </a></li>
      <li><a routerlinkactive="active" routerLink="policies-and-disclosures">policies and disclosures </a></li>
      <li><a routerlinkactive="active" routerLink="risk-management">risk management </a></li>
      <li><a routerlinkactive="active" routerLink="governance">governance </a></li>
    </ul>
  </li>
  <li> <a routerLink="contact-us" routerLinkActive="active">Contact Us </a></li>
  <!-- <li> <a routerLink="contact-us" class="shop-online"><i class="fas fa-shopping-cart"></i> Online </a></li> -->
  <!-- <li> <a routerLinkActive="active"  routerLink="about-us">News </a></li> -->
</ul>
