<ul>
  <li > <a  routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home </a></li>
  <li class="dropdown">
    <a routerLinkActive="active"   >About us </a>
    <ul class="drop-down-items">
      <li><a routerLinkActive="active"  routerLink="at-a-glance"> The Titan Emporium At a Glance</a></li>
      <li><a routerLinkActive="active"  routerLink="our-vision">Our Vision</a></li>
      <li><a routerLinkActive="active"  routerLink="our-values">Our Values</a></li>
      <li><a routerLinkActive="active"  routerLink="our-approach">Our Approach</a></li>
      <li><a routerLinkActive="active"  routerLink="our-strategy">Our strategy</a></li>
    </ul>
  </li>
  <li class="dropdown">
      <a routerLinkActive="active"  routerLink="about-us">Services </a>
      <ul class="drop-down-items">      <li><a routerLinkActive="active"  routerLink="air-compressor-hire">Air Compressor Hire</a></li>
      <li><a routerLinkActive="active"  routerLink="compressor-repair-and-service">Air Compressor Repair & Service</a></li>
      <li><a routerLinkActive="active"  routerLink="asset-leasing">Asset Leasing</a></li>
      <li><a routerLinkActive="active"  routerLink="compressed-air-pipework">Compressed Air Pipework</a></li>
      <li><a routerLinkActive="active"  routerLink="service-agreements">Service Agreements</a></li>
      <li><a routerLinkActive="active"  routerLink="supply-and-installation">Supply & Installation</a></li>
      <li><a routerLinkActive="active"  routerLink="directional-drilling">Directional Drilling</a></li>
      <li><a routerLinkActive="active"  routerLink="pipe-jacking">Pipe Jacking</a></li>
    </ul>
  </li>
  <li class="dropdown">
      <a routerLinkActive="active"  routerLink="about-us">Industries </a>
      <ul class="drop-down-items">      <li><a routerLinkActive="active"  routerLink="about-us">Agriculture & Farming </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Automotive </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Chemical </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Craft Breweries </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Defence </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Food & Beverage </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Industrial </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Marine </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Medical pharmaceutical and dental </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Mining </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Natural Gas </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Oil and gas </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Petrochemical </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Plastic </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Power </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Rail </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Security & Fire</a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Water </a></li>
      <li><a routerLinkActive="active"  routerLink="about-us">Woodworking </a></li>
    </ul>
  </li>
  <li class="dropdown">
      <a routerLinkActive="active"  routerLink="about-us">Sustainability </a>
      <ul class="drop-down-items">      <li><a routerLinkActive="active"  routerLink="sustainability-intro">The Titan Emporium and Sustainability </a></li>
        <li><a routerlinkactive="active"  routerlink="our-people">our people </a></li>
        <li><a routerlinkactive="active"  routerlink="society">society </a></li>
        <li><a routerlinkactive="active"  routerlink="transformation">transformation </a></li>
        <li><a routerlinkactive="active"  routerlink="safety">safety </a></li>
        <li><a routerlinkactive="active"  routerlink="environmental">environmental </a></li>
        <li><a routerlinkactive="active"  routerlink="policies-and-disclosures">policies and disclosures </a></li>
        <li><a routerlinkactive="active"  routerlink="risk-management">risk management </a></li>
        <li><a routerlinkactive="active"  routerlink="governance">governance </a></li>
    </ul>
  </li>
  <li> <a   routerLink="contact-us"  routerLinkActive="active">Contact Us </a></li>
  <!-- <li> <a routerLinkActive="active"  routerLink="about-us">News </a></li> -->
</ul>
