.shop {
  display: grid;
  grid-template-columns: 80% auto;
  width: 20%;
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  background: #2ecc70b9;
  color: #fff;
  box-sizing: border-box;
  padding: 1rem;
  cursor: pointer;
  animation: flesh 10s linear  infinite 0s;

  h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  img {
    width: 80%;
    color: #fff;
  }
}

@keyframes flesh {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  background: #a42fe7c9;


  }
}
