<div class="container">
    <div class="close" (click)="hidePopup()">
        <span>X</span>
    </div>
    <h1>INDUSTRIES</h1>
    <ul class="drop-down-items">
        <li><a (click)="hide()"  routerLink="agriculture-farming">Agriculture & Farming </a></li>
        <li><a (click)="hide()"  routerLink="automotive">automotive </a></li>
        <li><a (click)="hide()"  routerLink="chemical">chemical </a></li>
        <li><a (click)="hide()"  routerLink="craft-breweries">craft breweries </a></li>
        <li><a (click)="hide()"  routerLink="defence">defence </a></li>
        <li><a (click)="hide()"  routerLink="food-beverage">food & beverage </a></li>
        <li><a (click)="hide()"  routerLink="industrial">industrial </a></li>
        <li><a (click)="hide()"  routerLink="marine">marine </a></li>
        <!-- <li><a (click)="hide()"  routerLink="medical-pharmaceutical-and-dental">medical pharmaceutical and dental </a></li> -->
        <li><a (click)="hide()"  routerLink="mining">mining </a></li>
        <li><a (click)="hide()"  routerLink="natural-gas">natural gas </a></li>
        <li><a (click)="hide()"  routerLink="oil-and-gas">oil and gas </a></li>
        <li><a (click)="hide()"  routerLink="petrochemical">petrochemical </a></li>
        <li><a (click)="hide()"  routerLink="plastic">plastic </a></li>
        <li><a (click)="hide()"  routerLink="power">power </a></li>
        <!-- <li><a (click)="hide()"  routerLink="rail">rail </a></li> -->
        <!-- <li><a (click)="hide()"  routerLink="security-and-fire">security & fire</a></li>
        <li><a (click)="hide()"  routerLink="water">water </a></li> -->
        <li><a (click)="hide()"  routerLink="woodworking">woodworking </a></li>
</ul>
  </div>