<div class="main-parent">
  <div class="parent">
    <div class="top-child">
      <div class="bg bg-left"></div>
      <div class="bg bg-right"></div>
    </div>
    <div class="content" *ngIf="product">
      <h1>{{product[0]?.name}}</h1>
      <p>
        {{product[0]?.desctiption}}
      </p>
      <section class="loop" *ngFor="let productObj of product">
        <div class="details-container">
          <div class="image">
            <img src="assets/products/{{productObj.imageUrl}}" alt="">
          </div>
          <div class="details">
            <h3>{{productObj?.secondaryHeading}}</h3>
            <p *ngFor="let data of productObj.details">
              {{data}}
            </p>
          </div>
        </div>

        <div class="table">
          <table>
            <thead>
              <tr>
                <th *ngFor="let data of productObj.tableHeadings">
                  {{data}}
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let rows of productObj.tableRows">
                <td *ngFor="let data of rows">
                  {{data}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="table-abbrevations" *ngIf="productObj.tableAbbrevations">
            {{productObj.tableAbbrevations}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="footer">
  <div class="box">
    <h1>Follow Us</h1>
    <ul>
      <li>
        <a href="https://www.facebook.com/titanemporium/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/the_titan_emporiump/" target="_blank">Instagram</a>
      </li>
      <!-- <li>
          <a href="">Twitter</a>
        </li> -->
    </ul>
  </div>

  <div class="box">
    <h1>Sales Address</h1>
    <p>
      Village industrial park <br>
      Unit A6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>
  <div class="box">
    <h1>Workshop Address</h1>
    <p>
      Village industrial park <br>
      Unit C6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>

  <div class="box">
    <h1>Contact Us</h1>
    <p>
      Phone: 011 338 6008 <br />
      Email : info@titanemporium.co.za <br />
    </p>
  </div>
</div>
