.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  padding: 1rem;
  height: 100%;
  background: white;
  text-align: left;
}
.ui-accordion-toggle-icon {
    color: red;
 
}
.ui-accordion-header	{
    background: red;
}