@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,900,900i');
html,
body {
  background: #fff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 1%;

  
}

img {
  width: 100%;
}
a, a:hover{
  text-decoration: none;
  
}
@media only screen and (min-width: 800px) {
  body {
    //  padding: 2%;

    background-image: url(./assets/home-images/imagebg-1.svg);
    // background-image: url(./assets/home-images/mainbg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(42, 42, 42);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 69, 2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}



.btn-gold{
  text-decoration: none;
  text-align: center;
  border: 3px solid #A06A4B;
  padding: 2% 10%;
  color: #A06A4B;
  margin: 10px;
  text-transform: uppercase;
  animation: slideFromLeft 1s ease-out 2s;
  animation-fill-mode: backwards;
}


// Key Frames
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
80%{
  transform: translateY(50px);

}
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anumationFaceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}
