::ng-deep {
  .p-galleria {
    width: 100% !important;
  }
}

.parent {
  // height: 100vh;
  width: 100%;
  background: none;
  position: relative;

  .top-child {
    background: none;
    height: 55vh;
    width: 100%;
    position: relative;

    // @media only screen and (max-width: 370px) {
    //   height: 71vh;
    // }
    .bg {
      height: 100%;
      position: absolute;
      top: 0;


    }

    .bg-left {
      background: #000;
      left: 0;
      width: 100%;
      -webkit-clip-path: polygon(44% 0, 100% 0, 100% 52%, 14% 100%, 0 68%, 0 0);
      clip-path: polygon(44% 0, 100% 0, 100% 52%, 14% 100%, 0 68%, 0 0);
      z-index: 1;

      @media only screen and (max-width: 500px) {
        -webkit-clip-path: circle(53.8% at 48% 26%);
        clip-path: circle(53.8% at 48% 26%);
      }

      @media only screen and (max-width: 500px) {
        -webkit-clip-path: circle(79.0% at 56% 0);
        clip-path: circle(79.0% at 56% 0);
      }


    }

    .bg-right {
      background: #171D23;
      right: 0;
      width: 100%;
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 52%, 55% 77%, 35% 0, 42% 0);
      clip-path: polygon(50% 0%, 100% 0, 100% 52%, 55% 77%, 35% 0, 42% 0);
      z-index: 2;

      @media only screen and (max-width: 800px) {
        display: none;
      }

    }



    .heading-section {
      padding: 1%;
      position: relative;
      height: 26vh;

      .heading {
        color: #fff;
        position: absolute;
        bottom: -50px;
        left: 10%;
        width: 40%;
        font-size: 1.5em;
        font-weight: 400;
        animation: slideFromLeft 1s ease-out 1s;
        animation-fill-mode: backwards;
        z-index: 3;

        @media only screen and (max-width: 800px) {
          font-size: 2px;
          font-weight: 400;
          bottom: -9px;


        }

        @media only screen and (max-width: 370px) {
          bottom: -50px;
        }

      }

      .cta {
        position: absolute;
        bottom: -113px;
        left: 10%;
        width: 40%;
        display: none;
        z-index: 3;
        text-decoration: none;

        @media only screen and (min-width: 800px) {
          display: inline;
        }



      }

      .image-slider-small {
        width: 16% !important;
        position: absolute;
        right: 25%;
        bottom: -190px;
        display: none;
        animation: slideFromLeft 1s ease-out 2s;
        animation-fill-mode: backwards;
        z-index: 4;

        @media only screen and (min-width: 800px) {
          width: 25%;
          display: inline;
        }

      }

      .image-slider {
        width: 60%;
        position: absolute;
        right: 5%;
        bottom: -130px;
        z-index: 4;
        animation: slideFromTop 1s ease-out;

        @media only screen and (min-width: 800px) {
          width: 20%;


        }

        @media only screen and (max-width: 370px) {
          width: 45%;

        }

      }
    }
  }

  .nd-top-child {
    background: white;
    // height: 30vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 2%;

    p,
    h1 {
      color: #000;
    }

    p {
      width: 40%;
      margin: 5%;
      float: left;
      font-weight: 200;
      font-size: 25px;

      a {
        float: right;
        border: none;
        border-bottom: 1px solid
      }

      @media only screen and (max-width: 500px) {
        display: block;
        width: 100%;
        margin: 0;
        padding: 1%;
        margin-bottom: 3%;

        a {
          display: block;
          font-size: .5em;
        }

        &:nth-child(3) {
          display: none;
        }



      }

    }

    .p-img {
      display: grid;
      grid-template-columns: 50% 10% auto;
      grid-gap: 1rem;

      @media only screen and (max-width: 500px) {
        grid-template-columns: 100%;
      }

      p {
        width: 100%;
        padding: 3rem;

        @media only screen and (max-width: 500px) {
          padding: .2rem;

        }
      }

      .img {
        text-align: center;
        padding: 4rem;
        @media only screen and (max-width: 500px) {
          padding: 0
        }
        img {
          width: 40%;
        }
      }
    }

  }

  .our-strategy {

    background: #171D23;
    height: 50vh;
    width: 100%;
    position: relative;
    padding: 10%;
    padding-top: 0;
    -webkit-clip-path: polygon(12% 30%, 100% 45%, 100% 73%, 100% 82%, 0 100%, 0 64%);
    clip-path: polygon(12% 30%, 100% 45%, 100% 73%, 100% 82%, 0 100%, 0 64%);

    @media only screen and (max-width: 500px) {
      -webkit-clip-path: polygon(27% 3%, 100% 51%, 100% 100%, 0 100%, 0 41%);
      clip-path: polygon(27% 3%, 100% 51%, 100% 100%, 0 100%, 0 41%);
      height: 22vh;
      padding: 1%;

    }

    h1,
    a {
      position: absolute;
      bottom: 23%;

    }

    h1 {
      left: 30%;
      color: #A06A4B;

      @media only screen and (max-width: 500px) {
        left: 11%;
      }

    }

    a {
      left: 60%;
      padding: 1%;

      @media only screen and (max-width: 500px) {
        left: 56%;
        bottom: 21%;
      }
    }
  }


}

.footer {
  background: #ffffff;
  // color: #A06A4B;
  color: #000;
  width: 100%;
  padding-left: 15%;
  overflow: hidden;
  font-weight: 300;

  ul {
    list-style: none;
  }

  h1 {
    font-weight: 100;
    font-size: 1.5em;

  }

  p,
  a {
    font-size: .9em;

  }

  @media only screen and (max-width: 500px) {
    display: none;
  }

  .box {
    width: 25%;
    padding: 1%;
    float: left;
    text-align: left;
    text-transform: uppercase;


    a {
      text-decoration: none;
      color: #000;
    }
  }
}
