<div class="parent">
  <div class="top-child">
    <div class="bg bg-left"></div>
    <div class="bg bg-right"></div>

    <div class="heading-section">
      <div class="heading">
        <h1>
          The compressor solutions <br>re-imagined
        </h1>

      </div>
      <div class="cta">
        <a href="#" class="btn-gold">About us</a>
        <a href="#" class="btn-gold">Contact Us</a>

      </div>
      <div class="image-slider-small">
        <img src="assets/home-images/Rock_Drill.png" alt="" class="slide-image">
      </div>
      <div class="image-slider">
        <img src="assets/home-images/slide1.png" alt="" class="slide-image">
      </div>
    </div>
  </div>
  <div class="nd-top-child">
    <div class="text-center">
      <h1>
        THE TITAN EMPORIUM AT A GLANCE
      </h1>
      <div class="p-img">
          <p>
              The Titan Emporium is a distributor of leading global brands with head offices in Johannesburg (South Africa)
              providing integrated product solutions, rental, long term leasing, and product support.
              <br> <br>
              <a routerLink="at-a-glance" class="btn-gold">Read more</a>
      
            </p>
            <div></div>
            <div class="img">
                <!-- <img src="../../assets/home-images/4.png" alt=""> -->
                <p-galleria [images]="images" panelWidth="300" panelHeight="300" [showCaption]="true" [autoPlay]="true"></p-galleria>

              </div>
      </div>
     
     
    </div>
  </div>
  <div class="our-strategy">
    <h1>Our Strategy
    </h1>
    <a routerLink="our-strategy" class="btn-gold">Read more</a>

  </div>
</div>


<div class="footer">
  <div class="box">
    <h1>Follow Us</h1>
    <ul>
      <li>
        <a href="https://www.facebook.com/titanemporium/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/the_titan_emporiump/" target="_blank">Instagram</a>
      </li>
      <!-- <li>
        <a href="">Twitter</a>
      </li> -->
    </ul>
  </div>

  <div class="box">
    <h1>Sales Address</h1>
    <p>
      Village industrial park <br>
      Unit A6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>
  <div class="box">
    <h1>Workshop </h1>
    <p>
      Village industrial park <br>
      Unit C6, <br>
      51 Rosettenville rd<br>
      Village main <br>
      Johannesburg 2001<br>
    </p>
  </div>

  <div class="box">
    <h1>Contact Us</h1>
    <p>
      Phone: 011 338 6008 <br>
      Email : info@titanemporium.com <br>

    </p>
  </div>

</div>
