<!-- <div class="main-container">
  <div class="header-section">
   

    <div class="heading-section">
      <div class="heading">
        <h1>
          The compressor solutions <br>re-imagined
        </h1>

      </div>
      <div class="cta">
        <a href="#">About us</a>
        <a href="#">Contact Us</a>

      </div>
      <div class="image-slider-small">
        <img src="../../assets/home-images/Rock_Drill.png" alt="" class="slide-image">
      </div>
      <div class="image-slider">
        <img src="../../assets/home-images/slide1.png" alt="" class="slide-image">
      </div>
    </div>

  </div>

  <div class="body-section">
    <p>
      The Titan Emporium is a distributor of leading global brands with head offices in Johannesburg (South Africa)
    </p>
    <a href="#" class="cta">Read more</a>
  </div>

  <div class="mobile-footer">
    <h1>Our strategy</h1>
    <a href="#">more</a>

  </div>

</div> -->


<div class="parent">
  <div class="top-child">
    <div class="bg bg-left"></div>
    <div class="bg bg-right"></div>

    <div class="heading-section">
      <div class="heading">
        <h1>
          The compressor solutions <br>re-imagined
        </h1>

      </div>
      <div class="cta">
        <a href="#" class="btn-gold">About us</a>
        <a href="#"  class="btn-gold">Contact Us</a>

      </div>
      <div class="image-slider-small">
        <img src="assets/home-images/Rock_Drill.png" alt="" class="slide-image">
      </div>
      <div class="image-slider">
        <img src="assets/home-images/slide1.png" alt="" class="slide-image">
      </div>
    </div>
  </div>
  <div class="nd-top-child">
    <div class="text-center">
      <h1>
        THE TITAN EMPORIUM AT A GLANCE
      </h1>
      <p>
        The Titan Emporium is a distributor of leading global brands with head offices in Johannesburg (South Africa)
        providing integrated product solutions, rental, long term leasing, and product support. `
      </p>
      <p>
        The Titan Emporium is a distributor of leading global brands with head offices in Johannesburg (South Africa)
        providing integrated product solutions, rental, long term leasing, and product support. `
      </p>
    </div>
  </div>
  <div class="our-strategy">
    <h1>Our Strategy
      </h1>
      <a routerLink="our-strategy" class="btn-gold">Read more</a>

  </div>
</div>
